# Исключаем виртуальное окружение
virtual_work/
venv/

# Исключаем файлы кэша и временные файлы
__pycache__/
*.swp

# Файлы среды разработки
.idea/
.vscode/

# Логи и базы данных
*.log
*.sqlite3
db.sqlite3

# Файлы, содержащие секретные ключи
.env
*.env
