{% extends 'base.html' %}
{% load static %}

{% block title %}Список категорий{% endblock %}

{% block content %}
   <!--================= Shop Section Start Here =================-->
<div class="page-path">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="path-title">
                {% if supplier_current.slug == 'kalinkovichskii' %}
                    <img src="{% static 'images/logo-postavshik4.svg' %}" alt="" class="breadcrumbs-logo">
                {% elif supplier_current.slug == 'borisovskii' %}
                    <img src="{% static 'images/logo-postavshik3.png' %}" alt="" class="breadcrumbs-logo">
                {% elif supplier_current.slug == 'berezovskii' %}
                    <img src="{% static 'images/logo-postavshik1.svg' %}" alt="" class="breadcrumbs-logo">
                {% elif supplier_current.slug == 'pinskii' %}
                    <img src="{% static 'images/logo-postavshik2.svg' %}" alt="" class="breadcrumbs-logo">
                {% endif %}
                {{supplier_current}}
            </h1>
            <div>
                <button class="breadcrumbs-btn">
                  Прайс-листы
                </button>
                <div class="breadcrumbs-date">
                  Обновлены 12.02.2025
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rts-shop-section section-gap">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="side-sticky">
                    <div class="shop-side-action">
                        <div class="action-item">
                            <div class="action-top">
                                <span class="action-title">Категория</span>
                            </div>
                            <div class="product-brands">
                                <div class="brands-inner">
                                    <ul>
                                        {% for category in supplier_current.category.all %}
                                            <li><a class="product-brand" href="shop.html">{{category.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="action-item">
                            <div class="action-top">
                                <span class="action-title">Цена</span>
                            </div>
                            <div class="nstSlider" data-range_min="50" data-range_max="20000" data-cur_min="20"
                                data-cur_max="10000">

                                <div class="bar"></div>
                                <div class="leftGrip price-range-grip"></div>
                                <div class="rightGrip price-range-grip"></div>
                            </div>
                            <div class="range-label-area">
                                <div class="min-price d-flex">
                                    <span class="range-lbl">От:</span>
                                    <span class="currency-symbol">$</span>
                                    <div class="leftLabel price-range-label"></div>
                                </div>
                                <div class="min-price d-flex">
                                    <span class="range-lbl">До:</span>
                                    <span class="currency-symbol">$</span>
                                    <div class="rightLabel price-range-label"></div>
                                </div>
                            </div>
                        </div>
                        <div class="action-item">
                            <div class="action-top">
                                <span class="action-title">Срок реализации</span>
                            </div>
                            <div class="nstSlider" data-range_min="50" data-range_max="20000" data-cur_min="20"
                                data-cur_max="10000">

                                <div class="bar"></div>
                                <div class="leftGrip price-range-grip"></div>
                                <div class="rightGrip price-range-grip"></div>
                            </div>
                            <div class="range-label-area">
                                <div class="min-price d-flex">
                                    <span class="range-lbl align-self-center">От:</span>
                                    <div class="leftLabel price-range-label"></div>
                                    <span class="currency-symbol"> суток</span>
                                </div>
                                <div class="min-price d-flex">
                                    <span class="range-lbl align-self-center">До:</span>
                                    <div class="rightLabel price-range-label"></div>
                                    <span class="currency-symbol"> суток</span>
                                </div>
                            </div>
                        </div>
                        <div class="action-item">
                            <div class="action-top">
                                <span class="action-title">Мясокомбинат</span>
                            </div>
                            {% for supplier in suppliers %}
                                <a href="{% url 'category-list' supplier.slug %}" class="color-item {% if supplier_current.name == supplier.name %} selected{% endif %}">
                                    <div class="color black"><i class="fas fa-check"></i></div>
                                    <span class="color-name">{{supplier.name}}</span>
                                    <div class="color-arrow"><i class="far fa-long-arrow-right"></i></div>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="banner-item">
                            <div class="banner-inner">
                                {% if supplier_current.slug == 'kalinkovichskii' %}
                                    <img src="{% static 'images/logo-postavshik4.svg' %}" alt="" class="banner-category-logo">
                                {% elif supplier_current.slug == 'borisovskii' %}
                                    <img src="{% static 'images/logo-postavshik3.png' %}" alt="" class="banner-category-logo">
                                {% elif supplier_current.slug == 'berezovskii' %}
                                    <img src="{% static 'images/logo-postavshik1.svg' %}" alt="" class="banner-category-logo">
                                {% elif supplier_current.slug == 'pinskii' %}
                                    <img src="{% static 'images/logo-postavshik2.svg' %}" alt="" class="banner-category-logo">
                                {% endif %}
                                <span class="pretitle">О мясокомбинате</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="shop-product-topbar">
                    <span class="items-onlist">Всего {{supplier_current.product.all|length}} видов продуктов</span>
                </div>
                <div class="products-area products-area3">
                    <div class="row justify-content-center">
                        {% for product in products %}
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="product-item product-item2 element-item3 product-details-popup-btn" data-popup-id="#popup{{product.id}}">
                                <div href="product-details.html" class="product-image">
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img src="{% static 'images/products/home3/1.jpg' %}" alt="No image available">
                                    {% endif %}
                                </div>
                                <div class="bottom-content">
                                    <span class="product-category">{{product.name}}</span>
                                    <div href="product-details.html" class="product-name">{{ product.category }}</div>
                                    <div class="action-wrap">
                                        <span class="product-price">{{ product.price }} ₽/кг.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- <div class="product-pagination-area mt--20">
                    <button class="prev"><i class="far fa-long-arrow-left"></i></button>
                    <button class="number active">01</button>
                    <button class="number">02</button>
                    <button class="skip-number">---</button>
                    <button class="number">07</button>
                    <button class="number">08</button>
                    <button class="next"><i class="far fa-long-arrow-right"></i></button>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!--================= Shop Section Section End Here =================-->
{% for product in products %}
<div class="product-details-popup-wrapper" id="popup{{product.id}}">
    <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
        <div class="product-details-popup">
            <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
            <button class="product-details-next product-details-arrow" data-popup-id="#popup{{product.id}}">
                <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.4142 16.4142C17.1953 15.6332 17.1953 14.3668 16.4142 13.5858L3.68629 0.857864C2.90524 0.0768156 1.63891 0.0768156 0.857864 0.857864C0.0768156 1.63891 0.0768156 2.90524 0.857864 3.68629L12.1716 15L0.857864 26.3137C0.0768156 27.0948 0.0768156 28.3611 0.857864 29.1421C1.63891 29.9232 2.90524 29.9232 3.68629 29.1421L16.4142 16.4142ZM14 17H15V13H14V17Z" fill="#FE6969" />
                </svg>
            </button>
            <button class="product-details-prev product-details-arrow">
                <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.585786 16.4142C-0.195262 15.6332 -0.195262 14.3668 0.585786 13.5858L13.3137 0.857864C14.0948 0.0768156 15.3611 0.0768156 16.1421 0.857864C16.9232 1.63891 16.9232 2.90524 16.1421 3.68629L4.82843 15L16.1421 26.3137C16.9232 27.0948 16.9232 28.3611 16.1421 29.1421C15.3611 29.9232 14.0948 29.9232 13.3137 29.1421L0.585786 16.4142ZM3 17H2V13H3V17Z" fill="#FE6969" />
                </svg>
            </button>
            <div class="details-product-area">
                <div class="product-thumb-area">
                    <div class="cursor"></div>
                    <div class="thumb-wrapper one filterd-items figure">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'images/products/home3/1.jpg' %}" alt="No image available">
                        {% endif %}
                    </div>
                    <div class="thumb-wrapper two filterd-items hide">
                        <div class="product-thumb zoom" onmousemove="zoom(event)"
                            style="background-image: url(assets/images/products/product-filt2.jpg)"><img
                                src="{% static 'images/products/product-filt2.jpg' %}" alt="product-thumb">
                        </div>
                    </div>
                    <div class="thumb-wrapper three filterd-items hide">
                        <div class="product-thumb zoom" onmousemove="zoom(event)"
                            style="background-image: url(assets/images/products/product-filt3.jpg)"><img
                                src="{% static 'images/products/product-filt3.jpg' %}" alt="product-thumb">
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <div class="product-status">
                        <span class="product-catagory">{{product.category}}</span>
                        <span class="product-catagory active">{{product.supplier}}</span>
                    </div>
                    <h2 class="product-title">{{product.name}} <span class="stock">Новинка</span></h2>
                    <span class="product-price">{{product.price}} ₽/кг</span>
                    <div class="product-uniques">
                        <span class="sku product-unipue">
                            <span>Состав: </span><br> 
                            мясо лося, свинина, брусника сушёная, соль, специи
                        </span>
                        <span class="catagorys product-unipue">
                            <span>Срок годности: </span> <br> 
                            4 месяца при температуре воздуха от 0 ºС до 6 ºС и относительной влажности (75-78)% 
                        </span>
                    </div>
                    <div class="product-bottom-action">
                        <button href="cart.html" class="addto-cart-btn action-item"><i class="rt-basket-shopping"></i>
                            Купить
                        </button>
                        <a href="cart.html" class="price-list-btn action-item">
                            Весь прайс-лист
                            <i class="fal fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p>
                Наличие собственного логистического центра и специально оснащенного транспорта, позволяет нам осуществлять доставку продукции в Москву и Московскую, Тульскую, Калужскую, Рязанскую, Орловскую и Липецкие области. 
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}