{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--================= Box Catagory Section Start Here =================-->
    <!--================= Banner Section Start Here =================-->
    <div class="banner banner-3">
        <div class="swiper bannerSlide">
            <div class="swiper-wrapper">
                {% for supplier in suppliers %}
                        <a href="{% url 'category-list' supplier.slug %}" class="swiper-slide">
                            <div class="banner-single bg-image bg-image-3">
                                <div class="container">
                                    <div class="single-inner">
                                        <div class="contents">
                                            <span class="banner-pretitle-box">{{supplier.product.all|length}} уникальных продуктов</span>
                                            <h1 class="banner-heading mb--30">{{ supplier.name }} мясокомбинат</h1>
                                            <div class="banner-action">
                                                <object>
                                                    <a class="banner-btn banner-btn2" href="product-details.html">Перейти</a>
                                                </object>
                                            </div>
                                        </div>
                                        <div class="banner-product-thumb">
                                            <div class="banner-product-thumb-blur"></div>
                                                {% if supplier.slug == 'berezovskii' %}
                                                <img src="{% static 'images/berezovskii-miasokombinat.jpg' %}"
                                                alt="banner-product">
                                                {% elif supplier.slug == 'pinskii' %}
                                                <img src="{% static 'images/pinskii-miasokombinat.jpg' %}"
                                                alt="banner-product">
                                                {% else %}
                                                <img src="{% static 'images/post/cata1.png' %}"
                                                alt="banner-product">
                                                {% endif %}
                                                {% if supplier.slug == 'kalinkovichskii' %}
                                                    <img src="{% static 'images/logo-postavshik4.svg' %}" alt="" class="banner-product-thumb-logo">
                                                {% elif supplier.slug == 'borisovskii' %}
                                                    <img src="{% static 'images/logo-postavshik3.png' %}" alt="" class="banner-product-thumb-logo">
                                                {% elif supplier.slug == 'berezovskii' %}
                                                    <img src="{% static 'images/logo-postavshik1.svg' %}" alt="" class="banner-product-thumb-logo">
                                                {% elif supplier.slug == 'pinskii' %}
                                                    <img src="{% static 'images/logo-postavshik2.svg' %}" alt="" class="banner-product-thumb-logo">
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
            </div>
            <div class="slider-navigation">
                <div class="swiper-button-prev slider-btn prev"><i class="fal fa-long-arrow-up"></i></div>
                <div class="swiper-button-next slider-btn next"><i class="fal fa-long-arrow-down"></i>
                </div>
            </div>
        </div>
    </div>
    <!--================= Banner Section End Here =================-->
    <div class="rts-box-catagory-section">
        <div class="box-catagory-inner">
            <div class="row">
                {% for supplier in suppliers %}
                <div class="col-xl-3 col-md-6 col-sm-6">
                    <div class="catagory-box box{{ forloop.counter }}">
                        <a href="{% url 'category-list' supplier.slug %}" class="picture">
                            {% if supplier.slug == 'berezovskii' %}
                            <img src="{% static 'images/berezovskii-miasokombinat.jpg' %}"
                                alt="box-picture">
                            {% elif supplier.slug == 'pinskii' %}
                            <img src="{% static 'images/pinskii-miasokombinat.jpg' %}"
                                alt="box-picture">
                            {% else %}
                            <img src="{% static 'images/post/cata1.png' %}"
                                alt="box-picture">
                            {% endif %}
                        </a>
                        <a href="{% url 'category-list' supplier.slug %}" class="view-collection-btn">Перейти</a>
                        <div class="contents">
                            <div class="icon">
                                {% if supplier.slug == 'kalinkovichskii' %}
                                    <img src="{% static 'images/logo-postavshik4.svg' %}" alt="">
                                {% elif supplier.slug == 'borisovskii' %}
                                    <img src="{% static 'images/logo-postavshik3.png' %}" alt="">
                                {% elif supplier.slug == 'berezovskii' %}
                                    <img src="{% static 'images/logo-postavshik1.svg' %}" alt="">
                                {% elif supplier.slug == 'pinskii' %}
                                    <img src="{% static 'images/logo-postavshik2.svg' %}" alt="">
                                {% endif %}
                            </div>
                            <h2 class="box-heading">{{ supplier.name }} мясокомбинат</h2>
                        </div>
                        <span class="item-update">{{supplier.product.all|length}} уникальных продуктов</span>
                        {{suppliers.category}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--================= Box Catagory Section End Here =================-->



    <!--================= Recent Products Section Start Here =================-->
    <div class="rts-recent_products-section section-gap">
        <div class="container">
            <div class="recent-products-header section-header section-header3">
                <span class="section-title-2 section-pretitle section-pretitle2 mb--15">Новинки</span>
                <!-- <span class="section-title-2 mb--5
                ">Категории</span> -->
                <div class="section-line mb-0"><img src="{% static 'images/items/curlyline.svg' %}" alt="line"></div>
                <div class="slider-navigation">
                    <div class="swiper-button-prev slider-btn prev"><i class="fal fa-angle-left"></i>Назад</div>
                    <div class="swiper-button-next slider-btn next">Дальше<i class="fal fa-angle-right"></i></div>
                </div>
            </div>
            <div class="products-area products-area3 swiper-main-product swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item product-item2 element-item3">
                            <a href="product-details.html" class="product-image">
                                <img src="{% static 'images/products/home3/1.jpg' %}" alt="product-image">
                            </a>
                            <div class="bottom-content">
                                <span class="product-catagory">Hand Craft</span>
                                <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                <div class="action-wrap">
                                    <span class="product-price">$31.00</span>
                                    <a href="cart.html" class="addto-cart"><i class="fal fa-shopping-cart"></i> Add To
                                        Cart</a>
                                </div>
                            </div>
                            <div class="product-actions">
                                <a href="wishlist.html" class="product-action"><i class="fal fa-heart"></i></a>
                                <button class="product-action product-details-popup-btn"><i
                                        class="fal fa-eye"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="d-flex justify-content-center">
                <a href="shop.html" class="all-products-link">All products <i
                        class="fal fa-long-arrow-right ml--10"></i></a>
            </div> -->
        </div>
    </div>
    <!--================= Recent Products Section End Here =================-->


    <!--================= Newsletter Section Start Here =================-->
    <div class="newsletter-banner newsletter-banner3 section-space mb-0">
        <div class="container">
            <div class="newsletter-contents">
                <span class="section-title-2 mb--5">Купить колбасы из Белоруссии оптом стало легче!</span>
                <div class="section-line mb--20"><img src="{% static 'images/items/curlyline.svg' %}" alt="line"></div>
                <p class="main-form-text">
                    Белорусские колбасные изделия имеют демократичные цены при достойном качестве. Социальная декларация Белорусских предприятий: <span>«Безопасный продукт – здоровая нация»</span> - это их жизненная позиция. В последнее время и наш, Российский потребитель, все чаще, задумывается о полезности и безопасности продуктов питания. Наша компания представляет одни из лучших комбинатов Западной части Белоруссии!
                </p>

                <div class="newsletter-input">
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Телефон">
                    <button class="subscribe-btn">
                        Отправить
                        <i class="fal fa-long-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--================= Newsletter Section End Here =================-->


    <!--================= New Collection Section Start Here =================-->
    <div class="rts-wood-products-section section-space my-0">
        <div class="container">
            <div class="section-header section-header3 text-start">
                <div>
                    <div class="wraper d-flex">
                        <span class="section-pretitle mb--15 me-3 active">Березовский</span>
                        <span class="section-pretitle mb--15 me-3">Борисовский</span>
                        <span class="section-pretitle mb--15 me-3">Пинский</span>
                        <span class="section-pretitle mb--15 me-3">Калинка</span>
                    </div>
                    <div class="wrapper d-flex flex-column">
                        <span class="section-title-2 mb--5
                    ">Виды продукции</span>
                </div>
                    
                </div>
                <div class="slider-navigation">
                    <div class="swiper-button-prev slider-btn prev"><i class="fal fa-angle-left"></i>Назад</div>
                    <div class="swiper-button-next slider-btn next">Дальше<i class="fal fa-angle-right"></i></div>
                </div>
            </div>
            <div class="slider-div">
                <div class="swiper rts-sixSlide-over">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="collection-item"><a class="collection-image" href="product-details.html"><img
                                        src="{% static 'images/products/home3/1.jpg' %}" alt="collection-image"></a>
                                <div class="bottom-content">
                                    <a href="product-details.html" class="product-name">Painting Handicraft</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="collection-item"><a class="collection-image" href="product-details.html"><img
                                        src="{% static 'images/products/home3/2.jpg' %}" alt="collection-image"></a>
                                <div class="bottom-content">
                                    <a href="product-details.html" class="product-name">Wooden Handicraft</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="collection-item"><a class="collection-image" href="product-details.html"><img
                                        src="{% static 'images/products/home3/3.jpg' %}" alt="collection-image"></a>
                                <div class="bottom-content">
                                    <a href="product-details.html" class="product-name">Balli Handicraft</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="collection-item"><a class="collection-image" href="product-details.html"><img
                                        src="{% static 'images/products/home3/4.jpg' %}" alt="collection-image"></a>
                                <div class="bottom-content">
                                    <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="collection-item"><a class="collection-image" href="product-details.html"><img
                                        src="{% static 'images/products/home3/5.jpg' %}" alt="collection-image"></a>
                                <div class="bottom-content">
                                    <a href="product-details.html" class="product-name">Minimalist Beard Mug</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="collection-item"><a class="collection-image" href="product-details.html"><img
                                        src="{% static 'images/products/home3/6.jpg' %}" alt="collection-image"></a>
                                <div class="bottom-content">
                                    <a href="product-details.html" class="product-name">Classic Handicraft</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================= Heading Section Start Here =================-->


    
    <!--================= brands Section Start Here =================-->
    <div class="rts-brands-section">
        <div class="container">
            <div class="recent-products-header section-header section-header2">
                <span class="section-pretitle mb--10">Подробнее про</span>
                <span class="section-title-2">мясокомбинаты</span>
                <div class="section-line mb-0"><img src="{% static 'images/items/curlyline.svg' %}" alt="line"></div>
            </div>
            <div class="brands-section-inner">
                <div class="row justify-content-center align-items-center">
                    {% for supplier in suppliers %}
                    <div class="col-lg-15 col-md-4 col-sm-6 col-xs-6 col-xxs-6">
                        <div class="brand-item">
                            <a href="{{supplier.website}}" class="front" target="_blank">
                                {% if supplier.slug == 'kalinkovichskii-miasokombinat' %}
                                    <img src="{% static 'images/logo-postavshik4.svg' %}" alt="">
                                {% elif supplier.slug == 'borisovskii-miasokombinat' %}
                                    <img src="{% static 'images/logo-postavshik3.png' %}" alt="" style="width: 240px;">
                                {% elif supplier.slug == 'berezovskii-miasokombinat' %}
                                    <img src="{% static 'images/logo-postavshik1.svg' %}" alt="">
                                {% elif supplier.slug == 'pinskii-miasokombinat' %}
                                    <img src="{% static 'images/logo-postavshik2.svg' %}" alt="">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--================= brands Section End Here =================-->


    <!--================= Newsletter Popup Start Here =================-->
    <!--  -->
    <!--================= Newsletter Popup End Here =================-->


    <!--================= Product-details Section Start Here =================-->
    <div class="product-details-popup-wrapper">
        <div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
            <div class="product-details-popup">
                <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
                <div class="details-product-area">
                    <div class="product-thumb-area">
                        <div class="cursor"></div>
                        <div class="thumb-wrapper one filterd-items figure">
                            <div class="product-thumb zoom" onmousemove="zoom(event)"
                                style="background-image: url(assets/images/products/product-details.jpg)"><img
                                    src="{% static 'images/products/product-details.jpg' %}" alt="product-thumb">
                            </div>
                        </div>
                        <div class="thumb-wrapper two filterd-items hide">
                            <div class="product-thumb zoom" onmousemove="zoom(event)"
                                style="background-image: url(assets/images/products/product-filt2.jpg)"><img
                                    src="{% static 'images/products/product-filt2.jpg' %}" alt="product-thumb">
                            </div>
                        </div>
                        <div class="thumb-wrapper three filterd-items hide">
                            <div class="product-thumb zoom" onmousemove="zoom(event)"
                                style="background-image: url(assets/images/products/product-filt3.jpg)"><img
                                    src="{% static 'images/products/product-filt3.jpg' %}" alt="product-thumb">
                            </div>
                        </div>
                        <div class="product-thumb-filter-group">
                            <div class="thumb-filter filter-btn active" data-show=".one"><img
                                    src="{% static 'images/products/product-filt1.jpg' %}" alt="product-thumb-filter"></div>
                            <div class="thumb-filter filter-btn" data-show=".two"><img
                                    src="{% static 'images/products/product-filt2.jpg' %}" alt="product-thumb-filter"></div>
                            <div class="thumb-filter filter-btn" data-show=".three"><img
                                    src="{% static 'images/products/product-filt3.jpg' %}" alt="product-thumb-filter"></div>
                        </div>
                    </div>
                    <div class="contents">
                        <div class="product-status">
                            <span class="product-catagory">Dress</span>
                            <div class="rating-stars-group">
                                <div class="rating-star"><i class="fas fa-star"></i></div>
                                <div class="rating-star"><i class="fas fa-star"></i></div>
                                <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>
                                <span>10 Reviews</span>
                            </div>
                        </div>
                        <h2 class="product-title">Wide Cotton Tunic Dress <span class="stock">In Stock</span></h2>
                        <span class="product-price"><span class="old-price">$9.35</span> $7.25</span>
                        <p>
                            Priyoshop has brought to you the Hijab 3 Pieces Combo Pack PS23. It is a
                            completely modern design and you feel comfortable to put on this hijab.
                            Buy it at the best price.
                        </p>
                        <div class="product-bottom-action">
                            <div class="cart-edit">
                                <div class="quantity-edit action-item">
                                    <button class="button minus"><i class="fal fa-minus minus"></i></button>
                                    <input type="text" class="input" value="01" />
                                    <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                                </div>
                            </div>
                            <a href="cart.html" class="addto-cart-btn action-item"><i class="rt-basket-shopping"></i>
                                Add To
                                Cart</a>
                            <a href="wishlist.html" class="wishlist-btn action-item"><i class="rt-heart"></i></a>
                        </div>
                        <div class="product-uniques">
                            <span class="sku product-unipue"><span>SKU: </span> BO1D0MX8SJ</span>
                            <span class="catagorys product-unipue"><span>Categories: </span> T-Shirts, Tops, Mens</span>
                            <span class="tags product-unipue"><span>Tags: </span> fashion, t-shirts, Men</span>
                        </div>
                        <div class="share-social">
                            <span>Share:</span>
                            <a class="platform" href="http://facebook.com" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="platform" href="http://twitter.com" target="_blank"><i
                                    class="fab fa-twitter"></i></a>
                            <a class="platform" href="http://behance.com" target="_blank"><i
                                    class="fab fa-behance"></i></a>
                            <a class="platform" href="http://youtube.com" target="_blank"><i
                                    class="fab fa-youtube"></i></a>
                            <a class="platform" href="http://linkedin.com" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================= Product-details Section End Here =================-->
{% endblock %}