{% extends 'base.html' %}
{% load static %}

{% block title %}Прайс-лист {{supplier.name}} {% endblock %}

{% block content %}
<div class="page-path">
  <div class="container">
      <div class="breadcrumbs-inner">
          <h1 class="path-title">
              {% if supplier.slug == 'kalinkovichskii' %}
                  <img src="{% static 'images/logo-postavshik4.svg' %}" alt="" class="breadcrumbs-logo">
              {% elif supplier.slug == 'borisovskii' %}
                  <img src="{% static 'images/logo-postavshik3.png' %}" alt="" class="breadcrumbs-logo">
              {% elif supplier.slug == 'berezovskii' %}
                  <img src="{% static 'images/logo-postavshik1.svg' %}" alt="" class="breadcrumbs-logo">
              {% elif supplier.slug == 'pinskii' %}
                  <img src="{% static 'images/logo-postavshik2.svg' %}" alt="" class="breadcrumbs-logo">
              {% endif %}
              {{supplier.name}}
          </h1>
          <div>
              <a href="{{supplier.price_list.url}}" class="breadcrumbs-btn">
                Скачать прайс-лист
              </a>
              <div class="breadcrumbs-date">
                Обновлены 12.02.2025
              </div>
          </div>
      </div>
  </div>
</div>

<div class="section-gap">
  <div class="container">
    <div class="price-list-head">
      Прайс-лист обновлен 12.02.2025
    </div>
    <div class="price-list-table-wrap">
      <div class="price-list-table">
        <div class="price-list-table-head-wrap">
          <div class="price-list-table-head">
            Наименование товара
          </div>
          <div class="price-list-table-head">
            Ед.изм
          </div>
          <div class="price-list-table-head">
            Цена руб/кг
          </div>
          <div class="price-list-table-head">
            Цена от 1000 кг, руб/кг
          </div>
          <div class="price-list-table-head">
            Сроки реализации, суток
          </div>
        </div>
        <div>
          {% for category in supplier.category.all %}
            <div class="price-list-table-category price-list-table-row">
              {{category.name}}
            </div>
            {% for product in category.products.all %}
              <div class="price-list-table-row-wrap price-list-table-row">
                <div class="price-list-table-row-item">
                  {{product.name}}
                </div>
                <div class="price-list-table-row-item">
                  {{product.weight_unit}}
                </div>
                <div class="price-list-table-row-item">
                  {{product.price}}
                </div>
                <div class="price-list-table-row-item">
                  {{product.bulk_price}}
                </div>
                <div class="price-list-table-row-item">
                  {{product.implementation_period}}
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}